.editArea {
	display:grid;
	grid-template-columns: minmax(20px, auto) 1fr;
	width: 95%;
	margin: auto;
}
.ExampleArea{
	display:grid;
	grid-auto-columns: auto;
}
.inner{
	max-width: 1024px;
}
.hidden {
	display:none;
}
.editSidebar{
	grid-column: 1 ;
	padding-right: 1em;
	padding-left: 1em;
	border-style: solid;
	border-width: thin;
	
}
.ExampleSubarea{
	border-style: solid;
	border-width: thin;
}
.descArea{
	border-style: solid;
	border-width: thin;
}
.imageArea{
	
	grid-column: 2 ;
	border-style: solid;
	border-width: thin;
}
.listArea{
	grid-column:1;
	border-style: solid;
	border-width: thin;
}
ul{list-style-type:none;}
